.blue {
  background-color: #3936d6; /* Blue */
}
.green {
  background-color: #24da79; /* Blue */
}
button {
  border: none;
  color: white;
  font-weight: 600;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-self: flex-end;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 15px;
}
